.file-list {
  width: 100%;

  tr {
    cursor: pointer;
    border-bottom: 1px solid white;
  }

  td {
    padding: 5px;
  }
}

.selector-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .part {
    padding: 10px;
    flex-shrink: 1;
    overflow-y: auto;
  }

  .bottom {
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
  }
}

