<div class="selector-container">
  <div class="part">
    <h4>本地文件上传</h4>
    <app-file-uploader [multiple]="true" [url]="url" (onUploadComplete)="uploadComplete()"></app-file-uploader>
  </div>
  <hr>
  <div class="part">
    <h4>已上传的文件</h4>
    <table class="file-list">
      <tbody>
      <tr *ngFor="let file of fileList">
        <td><p-checkbox
          name="file"
          [value]="file"
          [label]="file.fileName"
          [inputId]="file.id + file.fileName"
          [style]="{'margin-bottom':0}"
          [(ngModel)]="selectedFiles"
        ></p-checkbox></td>
        <td><button (click)="deleteFile(file)" class="btn btn-danger btn-sm">删除</button> </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="bottom">
    <button (click)="commit()" class="btn btn-success btn-lg">确定</button>
  </div>
</div>



