<div style="width: 100%; height: 100%; display: flex; justify-content: center; align-items: center" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="!loading" >
  <div #teamPrint>
    <div *ngIf="preview" style="width: 1000px; margin: auto" >
      <app-team [teamInfo]="teamForm.value" [members]="members"></app-team>
    </div>
  </div>

  <div style="width: 1000px; margin: auto" [hidden]="preview">
    <mat-card>
      <mat-card-title>团队负责人信息</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input [formControl]="teamForm.controls['phone']" matInput placeholder="联系电话">
          <mat-error *ngIf="teamForm.controls['phone'].hasError('required')">请输入联系电话</mat-error>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>回访中学信息</mat-card-title>
      <mat-card-content>
        <div style="display: flex; flex-direction: row">
          <mat-form-field style="flex-grow: 1; margin: 10px">
            <input [formControl]="teamForm.controls['hfzx']" matInput placeholder="回访学校全称" [matAutocomplete]="zx" (input)="searchZx($event.target.value)">
            <mat-error *ngIf="teamForm.controls['hfzx'].invalid">请输入学校信息</mat-error>
          </mat-form-field>
          <mat-form-field style="flex-grow: 1; margin: 10px">
            <mat-select [formControl]="teamForm.controls['sf']" placeholder="所在省份">
              <mat-option *ngFor="let sf of sfOptions" [value]="sf.NAME">
                {{ sf.NAME }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="teamForm.controls['sf'].invalid">请选择省份</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>团队成员</mat-card-title>
      <mat-card-content>
        <table class="member-table">
          <thead>
          <tr><th>学号</th><th>姓名</th><th>班级</th><th>联系方式</th><th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of members">
            <td>{{member.xh}}</td>
            <td>{{member.xm}}</td>
            <td>{{member.bj}}</td>
            <td>{{member.phone}}</td>
            <td><button mat-mini-fab (click)="deleteMember(member)" color="warn">删除</button></td>
          </tr>
          </tbody>
        </table>
        <div style="text-align: center; margin-top: 10px">
          <button mat-raised-button color="primary" (click)="addMember()">添加成员</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>活动计划</mat-card-title>
      <mat-card-content>
        <ueditor #hdjh [formControl]="teamForm.controls['hdjh']"></ueditor>
        <p style="color: red" *ngIf="teamForm.controls['hdjh'].invalid">*请输入活动计划</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>申报优势</mat-card-title>
      <mat-card-content>
        <ueditor #sbys [formControl]="teamForm.controls['sbys']"></ueditor>
        <p style="color: red" *ngIf="teamForm.controls['sbys'].invalid">*请输入申报优势</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div style="text-align: center; margin-top: 10px" *ngIf="teamForm.value.xh == authService.userInfo.xh">
    <button mat-button style="margin: 10px" color="primary" (click)="preview = true" [disabled]="teamForm.invalid" *ngIf="!preview">预览报名表</button>
    <button mat-button style="margin: 10px" color="primary" (click)="preview = false" *ngIf="canEdit()">编辑</button>
    <button mat-raised-button style="margin: 10px" color="primary" (click)="commit()" [disabled]="teamForm.invalid" *ngIf="teamId == null">提交</button>
    <button mat-raised-button style="margin: 10px" color="primary" (click)="updateTeam()" [disabled]="teamForm.invalid" *ngIf="teamId != null && !preview">提交更新</button>
    <button mat-raised-button style="margin: 10px" color="warn" (click)="reset()" *ngIf="!preview">重填报名表</button>
    <button mat-raised-button style="margin: 10px" color="warn" (click)="deleteTeam()" *ngIf="teamId != null">取消报名</button>
  </div>

  <mat-autocomplete #zx="matAutocomplete">
    <mat-option *ngFor="let option of zxOptions" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</div>
