.indicator-panel {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {

  .info-table {
    width: 100%;
    border-collapse: collapse;

    table, thead, tbody, tr, td, th {
      border: 1px solid #3f51b5;
    }

    td {
      padding: 10px;
    }

    .item-title {
      color: #3f51b5;
      font-weight: bolder;
    }
  }

  .center {
    text-align: center;
  }

  .title {
    color: #3f51b5;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
  }

  mat-form-field {
    width: 100%;
  }

  .input {
    background: lightgrey;
  }
}

.success {
  text-align: center;
  .title {
    color: red;
    font-size: 18px;
    font-weight: bolder;
  }
  .description {

  }
}

