.form-container {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.my-card {
  margin: 10px;
}

.member-table {
  width: 100%;
  border-collapse: collapse;
  table, thead, tbody, tr, td, th {
    border: 1px solid #3f51b5;
  }
  td, th {
    text-align: center;
  }
  th {
    color: white;
    padding: 5px;
    background: #3f51b5;
  }
  td {
    padding: 10px;
  }
}

