.team-list-container {
  width: 100%;
}

.operation {
  margin-bottom: 20px;
}

.team-list {
  width: 100%;
  thead {
    tr {

      th {
        padding: 10px;
        font-size: 18px;
        border-bottom: 1px solid black;
      }
    }
  }

  tbody {
    td {
      padding: 8px;
    }

    tr:hover, .selected {
      background: #3f51b5;
      color: white;
      cursor: pointer;
    }
  }
}
