<app-team-detail [teamList]="teamList" [currentTeam]="currentTeam" *ngIf="showDetail" (closed)="detailClosed($event)"></app-team-detail>
<div class="team-list-container">
  <div class="operation">
    <button pButton="" (click)="exportList()" label="导出汇总表" class="ui-button-success"></button>
  </div>
  <div>
    <mat-form-field>
      <mat-select [formControl]="queryParams.controls['nf']" placeholder="年份" (selectionChange)="currentPage=1;getList()">
        <mat-option [value]="null">全部</mat-option>
        <mat-option *ngFor="let nf of nfOptions" [value]="nf">
          {{ nf }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="queryParams.controls['xy']" placeholder="学院" (selectionChange)="currentPage=1;getList()">
        <mat-option [value]="null">全部</mat-option>
        <mat-option *ngFor="let xy of xyOptions" [value]="xy">
          {{ xy }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [formControl]="queryParams.controls['sf']" placeholder="省份" (selectionChange)="currentPage=1;getList()">
        <mat-option [value]="null">全部</mat-option>
        <mat-option *ngFor="let sf of sfOptions" [value]="sf.NAME">
          {{ sf.NAME }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input [formControl]="queryParams.controls['dz']" matInput="" placeholder="队长姓名">
    </mat-form-field>
    <mat-form-field>
      <input [formControl]="queryParams.controls['xh']" matInput="" placeholder="队长学号">
    </mat-form-field>
    <button (click)="getList()" pButton="" label="搜索"></button>
  </div>
  <div>
    <mat-paginator [length]="totalCount"
                   [pageIndex]="currentPage - 1"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)"
                   [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
  <table class="team-list">
    <thead>
    <tr>
      <!--<th>序号</th>-->
      <th>年份</th>
      <th>学院</th>
      <th>队长姓名</th>
      <th>学号</th>
      <th>回访中学名称</th>
      <th>所在省份</th>
      <th>联系电话</th>
      <th>审核状态</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teamList" (click)="previewTeamDetail(team)" [class.selected]="isSelected(team)">
      <!--<td>{{ i + 1 }}</td>-->
      <td>{{team['nf']}}</td>
      <td>{{team['xy']}}</td>
      <td>{{team['dz']}}</td>
      <td>{{team['xh']}}</td>
      <td>{{team['hfzx']}}</td>
      <td>{{team['sf']}}</td>
      <td>{{team['phone']}}</td>
      <td>{{team['status'] == 0? '审核中': team['status'] == 1? '审核通过' : '审核不通过'}}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <mat-paginator [length]="totalCount"
                   [pageIndex]="currentPage - 1"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)"
                   [showFirstLastButtons]="true"
    ></mat-paginator>
  </div>
</div>

