.team-list-container {
  width: 100%;
  padding: 20px;
}

.team-list {
  width: 100%;
  thead {
    tr {
      border-bottom: 1px solid black;
      th {
        padding: 10px;
        font-size: 18px;
      }
    }
  }

  tbody {
    td {
      padding: 8px;
    }

    tr:hover, .selected {
       background: #3f51b5;
      color: white;
     }
  }
}
