<div class="login-container">
  <mat-card class="login-panel" >
    <mat-card-content>
      <form class="my-container" [style.fontSize.px]="18">
        <mat-form-field class="item">
          <input [formControl]="userName" matInput placeholder="用户名" required>
          <mat-error *ngIf="userName.hasError('required')">请输入学号</mat-error>
          <mat-error *ngIf="userName.hasError('userNameWrong')">用户名错误</mat-error>
        </mat-form-field>
        <mat-form-field class="item">
          <input [formControl]="password" matInput type="password" placeholder="密码" required>
          <mat-error *ngIf="password.hasError('required')">请输入密码</mat-error>
          <mat-error *ngIf="password.hasError('passwordWrong')">密码错误</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions style="text-align: center">
      <button mat-raised-button color="primary" (click)="login()">登陆</button>
    </mat-card-actions>
  </mat-card>
</div>

