.alert-panel {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  margin: auto;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .alert {
    width: 800px;
    font-size: 18px;
  }
}
