<div class="team-list-container">
  <p class="title">我负责的团队</p>
  <table class="team-list">
    <thead>
    <tr>
      <th>序号</th>
      <th>年份</th>
      <th>回访中学</th>
      <th>所在省份</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams1" role="button">
      <td></td>
      <td>{{team['nf']}}</td>
      <td>{{team['hfzx']}}</td>
      <td>{{team['sf']}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="team-list-container">
  <p class="title">我参加的团队</p>
  <table class="team-list">
    <thead>
    <tr>
      <th>序号</th>
      <th>年份</th>
      <th>回访中学</th>
      <th>所在省份</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let team of teams2" role="button">
      <td></td>
      <td>{{team['nf']}}</td>
      <td>{{team['hfzx']}}</td>
      <td>{{team['sf']}}</td>
    </tr>
    </tbody>
  </table>
</div>
