<div class="student-list-container">
  <div class="operation">
    <button (click)="createStudent()" pButton label="添加学生" class="ui-button-success"></button>
    <button (click)="syncStudentInfo()" pButton label="同步学生数据" class="ui-button-danger"></button>
  </div>
  <div>
    <mat-form-field>
      <input [formControl]="queryParams.controls['xm']" matInput="" placeholder="姓名">
    </mat-form-field>
    <mat-form-field>
      <input [formControl]="queryParams.controls['xh']" matInput="" placeholder="学号">
    </mat-form-field>
    <button (click)="searchStudent()" pButton="" label="搜索"></button>
  </div>
  <table class="student-list">
    <thead>
    <tr>
      <th>学号</th><th>姓名</th><th>学院</th><th>班级</th><th>专业</th><th>毕业中学</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of studentList" (click)="showStudentDetail(student.id)">
      <td>{{ student.xh }}</td>
      <td>{{ student.xm }}</td>
      <td>{{ student.xy }}</td>
      <td>{{ student.bj }}</td>
      <td>{{ student.zy }}</td>
      <td>{{ student.byzx }}</td>
    </tr>
    </tbody>
  </table>
  <div>
    <pagination
      [(ngModel)]="currentPage"
      [totalItems]="totalCount"
      [itemsPerPage]="pageSize"
      [rotate]="true"
      [boundaryLinks]="true"
      [maxSize]="10"
      previousText="上一页"
      nextText="下一页"
      firstText="第一页"
      lastText="最后一页"
      class="justify-content-center"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>
</div>

