<button mat-raised-button="" color="primary" (click)="syncStudentInfo()">同步学生数据！</button>
<mat-progress-bar mode="determinate" [value]="progress" ></mat-progress-bar>

<table>
  <thead>
    <tr>
      <th>id</th><th>学号</th><th>姓名</th><th>学院</th><th>班级</th><th>专业</th><th>毕业中学</th><th>联系电话</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentList">
      <td>{{ student.id }}</td>
      <td>{{ student.xh }}</td>
      <td>{{ student.xm }}</td>
      <td>{{ student.xy }}</td>
      <td>{{ student.bj }}</td>
      <td>{{ student.zy }}</td>
      <td>{{ student.byzx }}</td>
      <td>{{ student.phone }}</td>
    </tr>
  </tbody>
</table>
