.source-viewer {
  position: fixed;
  left: 2.5%;
  right: 2.5%;
  top: 2.5%;
  bottom: 2.5%;
  z-index: 2000;
  display: flex;
  background: black;
  transform: translateY(-110%);

  .source-list {
    width: 350px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background: white;

    .list-container {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: auto;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          cursor: pointer;
          padding: 10px 15px 10px 15px;
          font-size: 15px;
        }
      }


    }
  }

  .source-content-container {
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;

    >.content {
      height: 100%;
      display: flex;
      padding: 5px;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
    }
  }
}

.source-viewer-background {
  background: black;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1999;
}
