<app-top-nav></app-top-nav>
<div class="main-container">
  <div class="side-menu">
    <ul>
      <li><a routerLink="app-config" routerLinkActive="router-active">系统设置</a></li>
      <li><a routerLink="team-list" routerLinkActive="router-active">团队列表</a></li>
      <li><a routerLink="student-list" routerLinkActive="router-active">学生管理</a></li>
      <li><a routerLink="user-list" routerLinkActive="router-active">用户管理</a></li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
