mat-card {
  margin-bottom: 20px;
}

.mat-card-title {
   font-size: 16px;
   padding-bottom: 10px;
   border-bottom: 1px solid lightgray;
  color: #3f51b5;
 }

.member-table {
  width: 100%;
  border-collapse: collapse;
  table, thead, tbody, tr, td, th {
    border: 1px solid #3f51b5;
  }
  td, th {
    text-align: center;
  }
  th {
    color: white;
    padding: 5px;
    background: #3f51b5;
  }
  td {
    padding: 10px;
  }
}

.info {
  width: 100%;
  display: flex;
  .info-item {
    flex-grow: 1;
    .label {
      color: #3f51b5;
    }
  }

}
