.table-container {
  //position: absolute;
  //top: 10px;
  //bottom: 10px;
  //left: 50%;
  //margin-left: -500px;
  //width: 1000px;
  //overflow-y: auto;
  //background: white;
  width: 100%;

  .info-table {
    width: 100%;
    border-collapse: collapse;

    table, thead, tbody, tr, td, th {
      border: 1px solid #3f51b5;
    }

    td {
      padding: 10px;
    }

    .item-title {
      color: #3f51b5;
      font-weight: bolder;
    }
  }

  .center {
    text-align: center;
  }

  .title {
    color: #3f51b5;
    font-size: 20px;
    padding: 20px;
    font-weight: bolder;
  }
}
