<div class="table-container">
  <div style="padding: 20px">
    <p class="title center">中国矿业大学（北京）寒假大学生回访高中母校宣传活动报名表</p>
    <table *ngIf="teamInfo != null" class="info-table">
      <tbody>
      <tr>
        <td class="center item-title">回访学校全称</td>
        <td colspan="2" class="">{{teamInfo['hfzx']}}</td>
        <td class="center item-title">所在省市</td>
        <td class="">{{teamInfo['sf']}}</td>
      </tr>
      <tr>
        <td class="center item-title" width="15%">成员</td>
        <td class="center item-title" width="20%">姓名</td>
        <td class="center item-title" width="25%">学号</td>
        <td class="center item-title" width="15%">班级</td>
        <td class="center item-title" width="25%">手机号</td>
      </tr>
      <tr>
        <td class="center item-title">组长</td>
        <td class="">{{teamInfo['xm']}}</td>
        <td class="">{{teamInfo['xh']}}</td>
        <td class="">{{teamInfo['bj']}}</td>
        <td class="">{{teamInfo['phone']}}</td>
      </tr>
      <tr *ngFor="let member of members">
        <td class="center item-title">组员</td>
        <td class="">{{member['xm']}}</td>
        <td class="">{{member['xh']}}</td>
        <td class="">{{member['bj']}}</td>
        <td class="">{{member['phone']}}</td>
      </tr>
      <tr>
        <td class="center item-title">活动计划</td>
        <td colspan="4" [innerHtml]="hdjh"></td>
      </tr>
      <tr>
        <td class="center item-title">申报优势</td>
        <td colspan="4" [innerHtml]="sbys"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


