/* You can add global styles to this file, and also import other style files */

@import "~font-awesome/css/font-awesome.min.css";
@import "~primeng/resources/themes/omega/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~videogular2/fonts/videogular.css";
@import "~viewerjs/dist/viewer.css";

body {
  margin: 0;
}

p {
  word-break: break-all;
}

.ui-widget-overlay {
  background: black;
  opacity: 0.5;
}

label {
  margin-bottom: 0;
}
//
//.img-container {
//  display: flex;
//  align-items: center;
//}
